<h2>Register New User</h2>

<form action="/register" method="POST">
    <label for="username">Create Username</label><br>
    <input type="text" name="username" placeholder="Enter Username" required><br>
    <label for="email">Add Email</label><br>
    <input type="email" name="email" placeholder="Enter email" required><br>
    <label for="password">Create Password</label><br>
    <input type="password" name="password" placeholder="Enter Password" required><br>
    <label for="password2">Enter Password Again</label><br>
    <input type="password" name="password2" placeholder="Enter Password Again" required><br>
    <button type="submit">Register</button>
</form>
<a href="/login">Login</a>