<h2>Log in here</h2>
<form action="/login" method="POST">
    <label for="username">Username:</label>
    <br>
    <input type="text"  name="username" placeholder="Enter username">
    <br>
    <label for="password">Password:</label>
    <br>
    <input type="password"  name="password" placeholder="Enter password">
    <button type="submit">Login</button>
</form>